<style>
  .spacer {
    flex: 1;
  }
</style>

<div *ngIf="user">
  <mat-toolbar color="primary" role="banner" class="toolbar">
    <mat-toolbar-row layout-gt-xs>
      <nav>
        <button mat-button routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-button routerLink="/user">Users</button>
        <button mat-button routerLink="/book">Books</button>
        <button mat-button routerLink="/about">About</button>
      </nav>
      <div class="spacer"></div>
      <nav >
        <a mat-button (click)="handleLogout()" fxHide.xs="true" >Logout
          <mat-icon>logout</mat-icon>
        </a>
      </nav>

    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs">
      <nav >
        <a mat-button (click)="handleLogout()" fxShow.xs="true" >Logout
          <mat-icon>logout</mat-icon>
        </a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>